/* --------ABOUT ME------- */
.paragraph {
  text-align:justify;
  font-size:14px;
}
.name{
  background-color: #4aaaa5;
  color:#ffffff;
  text-align:center;
  height:3.75em;
  left:-6em;
  font-family: 'Georgia', Times, Times New Roman, serif;
}
.about-me {
  height:66em;
}
.grey {
  background-color:  #cccccc;
  width:100%;
  height:76em;
}

.cardfooter{
  background-color:#666666;
  text-align:center;
  border-top: 10px solid#4aaaa5;
  margin-top:36em;
  color:#777777;
  height:5em;
} 

/* ------------CONTACT---------- */
.my-name{
 background-color:#4aaaa5;
 color:#ffffff;
  text-align:center;
  height:3.75em;
  padding-top:0.5em;
}
.navigation {
  color:#777777;
}
.next{
  background-color:  #cccccc;
  width:100%;
  height:53em;
}
.card{
  height:38em;
  top:1.5em;
}
.card-header, .header {
  color:#4aaaa5;
}
.Name, label, .Email, textarea{
  color:#777777;
}
.submit {
  background-color: #4aaaa5;
  color:#ffffff;
  width:100px;
}
.footer {
  background-color:#666666;
  text-align:center;
  border-top: 10px solid#4aaaa5;
  margin-top:10em;
  height:5em;
  color:#777777;
}

/* -----------PORTFOLIO-------- */
.header {
  /* border-bottom: 1px solid #cccccc; */
  margin-bottom:1em;
}
.img-thumbnail {
  display:inline;
}
.portfolio {
  height:80em;
}
hr {
  width:67em;
  margin-left:1.5em;
}
.bottom-left {
  background-color:#4aaaa5;
  height:2em;
  position:absolute;
  bottom:10px;
  left:2.5em;
  width: 13em;
  text-align: center;
  color:#ffffff;
}
.text{
    background-color:  #cccccc;
    width:100%;
    height:95em;
  }